@media only screen and (max-width: 510px) {
  header .top-contact {
    display: none;
  }
  .section-one .exp .num {
    font-size: 2.4em;
  }
  .section-one .exp {
    text-align: center;
    padding: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .about-sec {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .about-sec .text {
    width: 100%;
  }
  .approach-section {
    margin-top: 30px;
  }
  .services-section {
    margin-top: 10px;
  }
  .stats-container .stats {
    line-height: 2.7em;
  }
  .stats-container .stats .text {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 500px) {
  nav .logo img {
    width: 70%;
    height: 50px;
  }
  nav .my-icon {
    width: 25px;
    height: 25px;
  }
  .top-contact-info .contact-info-left .number {
    font-size: 2em;
  }
  .top-contact-info .contact-info-right .text {
    font-size: 1.8em;
  }
  .about-sec .text {
    font-size: 2.3em;
  }
  .approach-section .text {
    font-size: 2.3em;
  }
  .extra-info .text {
    font-size: 1.7em;
  }
  .whyChoseUsSection .why-choose-sec .text {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 768px) {
  .top-contact-info .contact-info-left {
    text-align: center;
  }
  .top-contact-info .contact-info-right {
    text-align: center;
  }
  .top-contact-info .contact-info-right .text {
    width: 100%;
  }
}
@media only screen and (max-width: 1180px) {
  /* .services-sec {
    flex: 0 0 100%;
  } */
}
